registry=https://nexus.neutrinos.co/repository/neutrinos-store-registry/
//nexus.neutrinos.co/repository/neutrinos-store-registry/:_authToken=NpmToken.2773bb8e-31be-3d8e-8a78-d5b077358f89
package-lock=false
legacy-peer-deps=true
save-prefix=