:root {
    --secondary-blue-500: #1f4280;
    --primary-blue-650: #0073AF;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgba(188, 219, 241, 0.20);
    margin: 0px;
    padding: 0px;
}

.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.flex-col {
    flex-direction: column;
    display: flex;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.p-20 {
    padding: 20px;
}

.surface_bgcolor {
    background-color: #F1F5FB;
}

.borderToolbar {
    border-bottom: 1px solid #EDEEF1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
}

.spce_between_center {
    justify-content: space-between;
    align-items: center;
}

.start_stetch {
    justify-content: start;
    align-items: stretch;
}

.start_center {
    justify-content: start;
    align-items: center;
}

.center_center {
    justify-content: center;
    align-items: center;
}

.end_end {
    justify-content: end;
    align-items: end;
}

.content_height {
    height: calc(100vh - 14vh);
}

.dropdown_width_height {
    border: 1px solid #E9ECF2;
    border-radius: 4px;
    padding: 4px 8px 4px 10px;
    color: #1F4280;
}

.row_gap_16 {
    gap: 16px;
}

.row_gap_10 {
    gap: 10px;
}

.lg-text {
    font-size: 20px;
    line-height: 150%;
}

.xl-text {
    font-size: 24px !important;
    line-height: 132% !important;
}

.xs-bold {
    font-family: 'poppins-bold';
}

.secondary_blue_500 {
    color: var(--secondary-blue-500)
}

.primary-blue-650 {
    color: var(--primary-blue-500);
}

.ff-regular {
    font-family: "Poppins", sans-serif !important;
}

.ff-semi-regular {
    font-family: 'poppins-semi-bold' !important;
}

.sm-text {
    font-size: 15px;
    line-height: 22.5px;
}

/*Font weights*/
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.lg-text {
    font-size: 20px;
    line-height: 150%;
}

.xl-text {
    font-size: 24px !important;
    line-height: 132% !important;
    font-family: "poppins-medium";
}

.lg-text--secondary-blue-500 {
    color: #1f4280;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.line-height-30 {
    line-height: 30px;
}

.neutral-dark-300 {
    color: #8490A1;
}

.neutral-dark-500 {
    color: #475973;
}

.neutral-dark-200 {
    color: #919cab;
}

.primary-color-500 {
    color: #228BC4;
}

.teal-500 {
    color: #00AEAA;

}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}


/* pop-up */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    background-color: #fefefe;
    font-family: Poppins;
    margin: 10% auto;
    /* padding: 20px; */
    border-radius: 5px;
    width: 69.73%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

/* loader */

.page-loader {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Gray color with opacity */
    z-index: 9999;
    /* Ensure it's on top of other content */
}

/* Styles for the loader */
.loader {
    border: 4px solid #f3f3f3;
    /* Gray border */
    border-top: 4px solid #A9A9A9;
    /* Blue border for animation */
    border-radius: 50%;
    width: 20px;
    /* Small size */
    height: 20px;
    /* Small size */
    animation: spin 1s linear infinite;
    /* Animation for spinning */
    margin: auto;
    /* Adjust the top margin */
}

/* Animation keyframes for spinning */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #475973;

}

.padding-16-24 {
    padding: 16px 24px 16px 24px;
}


.padding-16-24 {
    padding: 16px 24px 16px 24px;
}

.padding-16-0 {
    padding: 16px 0px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-16 {
    margin-top: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-10 {
    margin-left: 10px;
}


.mb-10 {
    margin-bottom: 10px;
}

.width-18 {
    width: 18%;
}

.button-div {
    Padding: 16px 24px 20px 24px;
    gap: 16px;
}


/* Primary Button */
.primary-button {
    width: 30%;
    height: 44px;
    background-color: #228BC4;
    color: white;
    font-weight: 600;
    padding: 4px 20px 4px 20px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Secondary Button */
.secondary-button {
    width: 20%;
    height: 44px;
    background-color: #FFFFFF;
    border: 1px solid #AAC3EE;
    font-weight: 600;
    padding: 4px 20px 4px 20px;
    border-radius: 24px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.otp-input {
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .font-size-18 {
        font-size: 14px;
    }

    .font-size-20 {
        font-size: 16px;
    }

    .header {
        font-size: 18px;
    }

    .padding-16-24 {
        padding: 0px;
    }

    .mt-16 {
        margin-top: 4px;
    }

    .p-20 {
        padding: 10px;
    }

    .body-container {
        padding: 10px 20px;
    }

    .confirmation-container {
        padding: 0px;
    }

    .image-container {
        flex: 1 1 45%;
        /* margin-right: 0px; */
        max-width: 45%;
    }

    .w-30 {
        width: 45%;
    }

    .xl-text {
        font-size: 16px !important;
    }


    .primary-button {
        width: 100%;
        height: 40px;
    }

    /* Secondary Button */
    .secondary-button {
        width: 100%;

    }

    .w-50 {
        width: 50%;
    }

    .otp-input {
        width: 24px;
        height: 24px;
    }

    .input-container input[type="text"] {
        width: 50%;
    }

    /* .prefix {
      position: absolute;
      left: 0%;
    } */
    .prefix {
        left: 8%;
    }


}

@media (max-width: 767px) {

    .lg-text {
        font-size: 15px;
    }

    .sm-text {
        font-size: 12px;
    }

    .font-size-18 {
        font-size: 14px;
    }

    .font-size-20 {
        font-size: 16px;
    }

    .header {
        font-size: 18px;
    }

    .padding-16-24 {
        padding: 0px;
    }

    .mt-16 {
        margin-top: 4px;
    }

    .p-20 {
        padding: 10px;
    }

    .body-container {
        padding: 10px 20px;
    }

    .confirmation-container {
        padding: 15px 15px;
    }

    .confirmation-container .mt-20 {
        margin-top: 10px;
    }

    .image-container {
        flex: 1 1 100%;
        margin-right: 0px;
        height: 120px;
        /* max-width: 45%; */
    }

    .w-30 {
        width: 45%;
    }

    .xl-text {
        font-size: 16px !important;
    }


    .primary-button {
        width: 150px;
        height: 40px;
    }

    /* Secondary Button */
    .secondary-button {
        width: 100%;

    }

    .w-50 {
        width: 50%;
    }

    .otp-input {
        width: 24px;
        height: 24px;
    }

    .input-container input[type="text"] {
        width: 50%;
    }

    .prefix {
        position: absolute;
        left: 0%;
    }

    .mb-30 {
        margin-bottom: 12px;
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .width_80 {
        width: 80%;
    }

    .width_25 {
        width:45% !important;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.bullet-list {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 20px; /* Add some padding for spacing */
  }
  
  .bullet-list li::before {
    content: "\2022"; /* Unicode character for bullet (•) */
    color: #007bff; /* Color of the bullet point */
    display: inline-block;
    width: 1em; /* Adjust as needed */
    margin-left: -1em; /* Adjust as needed */
  }

  .error_msg {
    color: #DE0303;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}